@page "/Account/Manage/Email"

@using Microsoft.AspNetCore.Identity
@using Madtorio.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Email - Madtorio</PageTitle>

<div class="form-floating mb-3">
    <input type="text" value="@email" id="email" class="form-control" placeholder=" " disabled />
    <label for="email" class="form-label">Email</label>
</div>
<p class="text-muted">Email is managed by administrators.</p>

@code {
    private string? email;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        email = await UserManager.GetEmailAsync(user);
    }
}
