@using Microsoft.AspNetCore.Identity
@using Madtorio.Data

@inject SignInManager<ApplicationUser> SignInManager

<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/ChangePassword">Password</NavLink>
        </li>
        @if (hasExternalLogins)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="Account/Manage/ExternalLogins">External Logins</NavLink>
            </li>
        }
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/TwoFactorAuthentication">Two-Factor Auth</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/Passkeys">Passkeys</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Account/Manage/PersonalData">Personal Data</NavLink>
        </li>
    </ul>
</nav>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
